<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.luvie.luviedokter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
<!--    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_luvie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_luvie"
        android:supportsRtl="true"
        android:theme="@style/Theme.DokterHaloQlinic"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".callCustom.ExampleActivity"
            android:exported="true" />
        <activity
            android:name=".callCustom.CallActivity"
            android:exported="true" />
        <activity
            android:name=".callCustom.CallMesiboActivity"
            android:exported="true" />
        <activity
            android:name=".TindakanActivity"
            android:exported="true" />
        <activity
            android:name=".TungguPembayaranActivity"
            android:exported="true" />
        <activity android:name=".KebijakanPrivasiActivity" />
        <activity android:name=".CariResepActivity" />
        <activity android:name=".JadwalKonsultasiActivity" />
        <activity android:name=".KonsultasiActivity" />
        <activity
            android:name=".ListResepActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".DetailProdukActivity" />
        <activity
            android:name=".TambahResepObatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".DetailKonsultasiActivity" />
        <activity android:name=".TarikDanaActivity" />
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".EditAkunActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="id.luvie.luviedokter.oneSignal.NotificationServiceExtension" />
    </application>

</manifest>